@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
//font-family: 'Montserrat', sans-serif;
//font-family: 'Ubuntu', sans-serif;
//font-family: 'Hind Siliguri', sans-serif;
//font-family: 'Barlow', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Quicksand', sans-serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Poppins', sans-serif;


* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  outline: none;
  &:focus {
    outline: 0;
  }
}


.screen-loading{
  position: relative;
  max-width: 300px;
  overflow: hidden;
  margin: 250px auto; 
  >img{
    width: 100%;
    object-fit: contain;
  }
}


