.newslettter {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  .news-icon {
    > svg {
      font-size: 34px;
      margin-bottom: 10px;
    }
  }
  .news-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    > h1 {
      font-size: 22px;
      letter-spacing: --0.88px;
      margin-bottom: 2px;
    }
    > span {
      font-size: 14px;
      color: #666666;
      font-weight: 300;
    }
  }
  .news-mail {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    > input {
      height: 46px;
      width: 100%;
      max-width: 430px;
      border: none;
      background: #f5f5f5;
      letter-spacing: -0.005em;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 300;
      color: #999999;
    }
    .news-button {
      padding-left: 5px;
      padding-right: 5px;
      > button {
        height: 46px;
        background-color: rgb(56, 56, 56);
        color: white;
        min-width: 140px;
        font-size: 15px;
      }
    }
  }
}




@media screen and( max-width:670px ) {
    .news-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        >input{
            margin-bottom: 10px;
        }
    }

}