.header-top {
  background-color: #111111;
  color: white;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 0.2px;
  .header-top-left {
    position: relative;
    padding-top: 10px;
    > p {
      font-size: 14px;
    }
  }
  .header-top-right {
    position: relative;
    align-items: center;
    padding-top: 10px;
    > a {
      text-decoration: none;
      color: white;
      > .shop-icon {
        display: flex;
        justify-content: flex-end;
        > i {
          font-size: 22px;
        }
        .shop-count {
          position: absolute;
          top: 2px;
          right: -5px;
          background-color: crimson;
          width: 18px;
          height: 18px;
          justify-content: center;
          border-radius: 50%;
          display: flex;
          font-size: 12px;
          font-weight: bold;
          align-items: center;
        }
      }
    }
  }
}

nav {
  position: relative;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  .nav-logo {
    > a {
      font-size: 30px;
      color: black;
      text-decoration: none;
    }
  }
  .navbar-nav {
    > a {
      padding: 10px;
      text-decoration: none;
      font-size: 17px;
      font-weight: 600;
      color: black;
      &::after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        margin: auto;
        background-color: #d41d2c;
        transition: width 0.5s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .navbar-search {
    background-color: rgb(243, 243, 243);
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 0.8s;
    .search-icon {
      font-size: 15px;
      margin-right: 5px;
      margin-left: 5px;
      padding: 3px;
    }
    input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 15px;
      font-size: 14px;
      transition: 0.8s;
      &:hover {
        width: 200px;
      }
    }
  }
}
